body {
    min-height: 100vh;
}

:root[data-toggling=true] * {
    transition: all 1s !important;
}

.max-w-md {
    max-width: 24rem;
}

.max-w-lg {
    max-width: 38rem;
}

iconify-icon {
    display: inline-block;
}
iconify-icon:not([width]) {
    width: 1em;
}
iconify-icon:not([height]) {
    height: 1em;
}

.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.table-layout-fixed {
    table-layout: fixed;
}