Django==5.2.9
django-mathfilters==1.0.0
django-widget-tweaks==1.5.0
uvicorn[standard]==0.38.0
oauthlib==3.3.1
python-dateutil==2.9.0.post0
requests==2.32.5
requests-oauthlib==2.0.0
python-socketio==5.15.1
pyjwt==2.10.1
cryptography==46.0.3
