{% extends 'base.html' %}
{% load static %}

{% block extra_head_content %}
    {{ block.super }}
    <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="jumbotron text-center">
    <div class="container">
        <h1 class="display-4">Hallo {{ request.user.first_name }}!</h1>
        <p class="lead">Je kunt je hier aanmelden voor DJO voor komende vrijdag of zaterdag</p>

        <hr class="my-4">

        <div class="container">
            Door maximaal 16 leden toe te laten houden we de DJO veilig voor zowel begeleiders als leden.<br>
            Het is belangrijk dat je 1.5 meter afstand houdt, en dat je bij verkoudheidsklachten thuis blijft.
        </div>
    </div>
</div>

<div class="container mt-5 text-center">
    <div class="row">
        <div class="col-sm">
            <div class="card border-primary">
                <div class="card-body">
                    <div class="card-title"><h4><i class="far fa-calendar-{% if reg_fri %}check{% else %}alt{% endif %}"></i> Vrijdag</h4></div>
                    <div class="small">{% if reg_fri %}<i>Je bent hier voor aangemeld!</i><br>{% endif %}{{ fri }}</div>
                    <p class="card-text my-2">Er zijn nog <span class="badge badge-primary">{{ fri_avail }}</span> plekken beschikbaar.</p>
                </div>
                {% if not 'begeleider' in request.session.profile.types %}
                <div class="card-footer p-0">
                    {% if fri_avail != 0 and not reg_fri %}
                    <a class="btn btn-primary btn-block register" href="{% url 'register' 'fri' %}" role="button"><i class="fas fa-sign-in-alt"></i> Aanmelden</a>
                    {% elif reg_fri %}
                    <a class="btn btn-link btn-block register" href="{% url 'deregister' 'fri' %}" role="button"><i class="fas fa-sign-out-alt"></i> Afmelden</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-sm my-sm-0 my-3">
            <div class="card border-primary">
                <div class="card-body">
                    <h4 class="card-title"><i class="far fa-calendar-{% if reg_sat %}check{% else %}alt{% endif %}"></i> Zaterdag</h4>
                    <div class="small">{% if reg_sat %}<i>Je bent hier voor aangemeld!</i><br>{% endif %}{{ sat }}</div>
                    <p class="card-text my-2">Er zijn nog <span class="badge badge-primary">{{ sat_avail }}</span> plekken beschikbaar.</p>
                </div>
                {% if not 'begeleider' in request.session.profile.types %}
                <div class="card-footer p-0">
                    {% if sat_avail != 0 and not reg_sat %}
                    <a class="btn btn-primary btn-block register" href="{% url 'register' 'sat' %}" role="button"><i class="fas fa-sign-in-alt"></i> Aanmelden</a>
                    {% elif reg_sat %}
                    <a class="btn btn-link btn-block register" href="{% url 'deregister' 'sat' %}" role="button"><i class="fas fa-sign-out-alt"></i> Afmelden</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- modals -->

<div class="modal fade verify-email">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Controleer Gegevens</h5>
            </div>
            <div class="modal-body text-center">
                Het is belangrijk dat we je kunnen bereiken bij bijzonderheden.<br>
                In onze administratie is jouw email <b>{{ request.user.email }}</b>,<br>
                Klopt dit email-adres?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary verify-btn-confirm">Ja, die klopt!</button>
                <button type="button" class="btn btn-secondary verify-btn-deny">Nee, die klopt niet..</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade change-email">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wijziging Email</h5>
            </div>
            <div class="modal-body text-center">
                Je hebt aangegeven dat je email-adres niet klopt.
                Het is belangrijk dat je dit aangeeft bij Ronald,
                Zodat het aangepast kan worden.
                Je kan Ronald bereiken via <a href="https://t.me/Moes17" target="_blank">Telegram</a>.
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Duidelijk</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
