{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="jumbotron">

    <h1 class="display-4">Hallo {{ request.user.first_name }}!</h1>
    <p class="lead">Je kunt je hier aanmelden voor DJO voor komende vrijdag of zaterdag</p>

    <hr class="my-4">
    <p>Het aanmelden is nodig om te voorkomen dat er teveel leden aanwezig zijn en we geen 1,5 meter afstand kunnen
        garanderen.
        <br><br>
        Controleer voordat je je aanmeldt of je gegevens juist zijn! Zo kunnen we je bij bijzonderheden bereiken.
        <br><br>
        Volgens onze administratie is je e-mailadres: {{ request.user.email }}.
    </p>
    <p>
        Er zijn nog {{ fri_avail }} plaatsen beschikbaar op Vrijdag<br>
        Er zijn nog {{ sat_avail }} plaatsen beschikbaar op Zaterdag<br>
    </p>
    <p>
        {% if reg_fri or reg_sat %}
        <div class="alert alert-danger" role="alert">
          Je hebt al geregistreerd voor aankomende vrijdag of zaterdag!
        </div>
        {% endif %}
    </p>
    <p class="lead">
        {% if fri_avail != 0 and not reg_fri %}
        <a class="btn btn-primary btn-lg" href="{% url 'register' 'fri' %}" role="button">Aanmelden voor vrijdag-DJO</a>
        {% else %}
        <a class="btn btn-danger btn-lg" href="{% url 'deregister' 'fri' %}" role="button">Afmelden voor vrijdag-DJO</a>
        {% endif %}
        {% if sat_avail != 0 and not reg_sat %}
        <a class="btn btn-primary btn-lg" href="{% url 'register' 'sat' %}" role="button">Aanmelden voor zaterdag-DJO</a>
        {% else %}
        <a class="btn btn-danger btn-lg" href="{% url 'deregister' 'sat' %}" role="button">Afmelden voor zaterdag-DJO</a>
        {% endif %}
    </p>
</div>

{% endblock %}
