{% extends 'base/base_status.html' %}
{% load static %}
{% load widget_tweaks %}

{% block icon %}line-md:person-add-twotone{% endblock %}
{% block title %}Gebruiker Handmatig Aanmelden{% endblock %}
{% block description %}{{ slot.description }}{% endblock %}

{% block content %}
{{ block.super }}
<form method="post">
    <div class="container d-flex justify-content-center">
        <div class="form-group w-100" style="max-width: 24rem;">
            {% csrf_token %}
            
            <div class="mb-3">
                <label class="form-label" for="id_user">Gebruiker</label>
                {% render_field form.user title="Lid" class+="form-control" %}
            </div>

            <input class="btn btn-primary w-100" type="submit" value="Aanmelden">
        </div>
    </div>
</form>
{% endblock %}
