{% extends 'base/base_main.html' %}
{% load mathfilters %}
{% load static %}

{% block head %}
{{ block.super }}
<script src="{% static 'js/report-reload.js' %}?v=1"></script>
{% endblock %}

{% block description %}
Een overzicht van leden voor de aankomende vrijdag en zaterdag.
{% endblock %}

{% block content %}
{{ block.super }}
<div class="container text-center">
    <div class="row">
        {% for slot in slots %}
        {% if not slot.closed %}
        <div class="col-md">
            <div class="card mb-3 {% if slot.is_registered %}border-primary{% endif %}">
                <!-- header status texts -->
                <div class="card-header py-2 small {% if slot.is_registered %}text-primary{% endif %}">
                    {% if slot.is_registered %}
                    <iconify-icon icon="line-md:pencil" inline aria-hidden="true"></iconify-icon>
                    Aangemeld! &bull;
                    {% endif %}
                    <iconify-icon icon="line-md:calendar" inline role="img" alt="datum:"></iconify-icon>
                    {{ slot.date }}
                </div>
                <div class="card-body">
                    <!-- announcement -->
                    {% if slot.announcement %}
                    <div class="alert alert-primary mb-4">
                        <iconify-icon icon="line-md:bell-loop" inline role="img" alt="announcement:"></iconify-icon>
                        {{ slot.announcement | safe }}
                    </div>
                    {% endif %}

                    <!-- slot description -->
                    <h5 class="card-title mt-2 fw-bold">
                        {% if slot.is_registered %}
                        <iconify-icon icon="line-md:confirm-circle" inline class="text-primary" aria-hidden="true"></iconify-icon>
                        {% else %}
                        <iconify-icon icon="line-md:chevron-right-circle" inline aria-hidden="true"></iconify-icon>
                        {% endif %}
                        {{ slot.description }}
                    </h5>
                    
                    <!-- available spots -->
                    <div class="card-text mb-3">
                        <div>
                            Er {{ slot.available|pluralize:"is,zijn" }}
                            {% if slot.available == 0 %}
                            <span class="badge text-bg-warning">0 / {{ slot.available|add:slot.taken }}</span>
                            {% elif slot.available < 0 %}
                            <span class="badge text-bg-danger">0 / {{ slot.available|add:slot.taken }}</span>
                            {% else %}
                            <span class="badge text-bg-primary">{{ slot.available }} / {{ slot.available|add:slot.taken }}</span>
                            {% endif %}
                            slot{{ slot.available|pluralize}}
                            {% if slot.available < 0 %}
                            beschikbaar, <strong class="text-danger">{{ slot.available|abs }} te veel</strong>.
                            {% else %}
                            beschikbaar.
                            {% endif %}
                        </div>
                        <div>
                            Er {{ slot.tutor_count|pluralize:"is,zijn" }}
                            <span class="badge text-bg-primary">{{ slot.tutor_count }}</span>
                            begeleider{{ slot.tutor_count|pluralize}} aangemeld.
                        </div>
                    </div>

                    <!-- list of people -->
                    <div class="d-flex justify-content-center mb-4">
                        <div class="text-start">
                            {% for member in object_list %}
                            {% if member.date == slot.date and member.pod == slot.pod %}
                            {% if member.user.is_superuser %}
                            <div>
                                <iconify-icon icon="line-md:account" class="text-primary" inline role="img" alt="begeleider:"></iconify-icon>
                                {{ member.user.first_name }} {{ member.user.last_name }}
                            </div>
                            {% else %}
                            <div class="form-check">
                                <input
                                    type="checkbox"
                                    autocomplete="off"
                                    class="form-check-input"
                                    id="{{ member.id }}"
                                    data-request-url="{% url 'seen' member.id '::' %}"
                                    {% if member.seen %}checked{% endif %}
                                >
                                <label class="form-check-label" for="{{ member.id }}">
                                    {{ member.user.first_name }} {{ member.user.last_name }}
                                    {% if 'strippenkaart' in member.user.userinfo.account_type %}
                                    <span class="text-primary ms-1">
                                        <iconify-icon icon="line-md:check-list-3" inline role="img" alt="strippenkaart"></iconify-icon>
                                        {{ member.user.userinfo.stripcard_used }} / {{ member.user.userinfo.stripcard_count }}
                                    </span>
                                    {% endif %}
                                    {% if member.seen and member.seen_by == 'mac' %}
                                    <span class="text-primary ms-1">
                                        <iconify-icon icon="line-md:cloud" inline role="img" alt="aangemeld via MAC adres"></iconify-icon>
                                    </span>
                                    {% endif %}
                                </label>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    
                    <!-- register buttons -->
                    <div>
                        <a class="btn btn-primary" href="{% url 'register-manual' slot.name slot.pod %}">
                            <iconify-icon icon="line-md:person-add" inline aria-hidden="true"></iconify-icon>
                            Lid Aanmelden
                        </a>
                        
                        {% if slot.is_registered %}                  
                        <a class="btn btn-outline-primary" href="{% url 'deregister' slot.name slot.pod %}">
                            <iconify-icon icon="line-md:logout" inline aria-hidden="true"></iconify-icon>
                            Afmelden
                        </a>
                        {% else %}
                        <a class="btn btn-primary" href="{% url 'register' slot.name slot.pod %}">
                            <iconify-icon icon="line-md:login" inline aria-hidden="true"></iconify-icon>
                            Aanmelden
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}
