{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}

{% block extra_head_content %}
    {{ block.super }}
    <meta http-equiv="refresh" content="30">
    <script src="{% static 'js/report.js' %}" charset="utf-8"></script>
{% endblock %}


{% block content %}

<div class="jumbotron text-center">
    <div class="container">
    <h1 class="display-4">Hallo {{ request.user.first_name }}!</h1>
    <p class="lead">Een overzicht van leden voor de aankomende vrijdag en zaterdag.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for slot in slots %}

            {% if not slot.closed %}

            <div class="col-sm">
                <div class="card border-primary">
                    <div class="card-body">
                        <h4 class="card-title text-center"><i class="far fa-calendar-alt"></i> {{ slot.description }}</h4>
                        <div class="small text-center">{{ slot.date }}</div>
                        <div class="text-center">
                            <p>Slots beschikbaar:
                                {% if slot.available == 0 %}
                                <span class="badge badge-warning">{{ slot.available }} / {{ slot.available|add:slot.taken }}</span>
                                {% elif slot.available < 0 %}
                                <span class="badge badge-danger">0 / {{ slot.available|add:slot.taken }}, {{ slot.available|abs }} te veel</span>
                                {% else %}
                                <span class="badge badge-primary">{{ slot.available }} / {{ slot.available|add:slot.taken }}</span>
                                {% endif %}
                                <br>Begeleiders: <span class="badge badge-primary">{{ slot.tutor_count }}</span>
                            </p>
                        </div>
                        <p class="card-text">
                        {% for member in object_list %}
                            {% if member.date == slot.date and member.pod == slot.pod %}

                                {% if member.user.is_superuser %}
                                <div class="form-check">
                                    <i class="fas fa-user-tie form-check-input"></i> {{ member.user.first_name }} {{ member.user.last_name }}
                                </div>
                                {% else %}
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" value="" id="{{ member.id }}" {{ member.seen|yesno:"checked,," }}>
                                  <label class="form-check-label" for="{{ member.id }}">
                                    {{ member.user.first_name }} {{ member.user.last_name }}
                                      {% if member.seen and member.seen_by == 'mac' %}
                                        <i class="fa fa-wifi" aria-hidden="true"></i>
                                      {% endif %}
                                      {% if member.user.userinfo.over_18 %}
                                        <i class="fa fa-qrcode" aria-hidden="true"></i>
                                      {% endif %}
                                  </label>
                                </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </p>
                    </div>
                    <div class="card-footer p-0">
                        <a class="btn btn-primary btn-block register" href="{% url 'register-manual' slot.name slot.pod %}" role="button"><i class="fas fa-sign-in-alt"></i> Lid Handmatig Aanmelden</a>
                    </div>
                    <div class="card-footer p-0 mt-2">
                        {% if not slot.day_registered %}
                          <a class="btn btn-primary btn-block register" href="{% url 'register' slot.name slot.pod %}" role="button"><i class="fas fa-sign-in-alt"></i> Aanmelden als begeleider</a>
                        {% else %}
                          <a class="btn btn-link btn-block register" href="{% url 'deregister' slot.name slot.pod %}" role="button"><i class="fas fa-sign-out-alt"></i> Afmelden als begeleider</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% endif %}
        {% endfor %}

    </div>
</div>

{% endblock %}
